*.suo
.fake/
.axoCover/
.vs/
bin/
obj/
paket-files/
Sources/Contour/**/AssemblyInfo.cs
nuget/*.nupkg
packages/*
build/*
temp/
build.fsx.lock
TestResults.xml
*.sln.DotSettings.user
*.userprefs
*.bak
StyleCop.Cache
*.csproj.user
/Sources/Contour/Properties/launchSettings.json
