source https://www.nuget.org/api/v2/
framework: net461

nuget Common.Logging 3.3.1 
nuget FluentAssertions 4.19.2.0
nuget FluentValidation 5.0.0.1
nuget Moq 4.7.8
nuget Newtonsoft.Json 6.0.1
nuget Ninject 3.0.1.10
nuget NUnit 2.6.4
nuget RabbitMQ.Client 3.3.0
nuget RestSharp 105.2.3
nuget FAKE 4.0.3
nuget NUnit.Runners 2.6.4
nuget NuGet.CommandLine 2.8.6