<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="TRACE" />
        <arg key="showLogName" value="true" />
        <arg key="showDateTime" value="true" />
        <arg key="dateTimeFormat" value="HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
    
    <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
        <targets>
            <target name="trace" type="Trace" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${whenEmpty:${threadname}:whenEmpty=${threadid}}] ${uppercase:${pad:${level}:padding=-5}}: ${message}${onexception:${newline}${exception:format=ToString}}" />
            <target name="file" type="File" encoding="utf-8" fileName="${basedir}/log.txt" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${whenEmpty:${threadname}:whenEmpty=${threadid:padding=2}}] ${uppercase:${pad:${level}:padding=-5}} ${logger:shortName=true:padding=-35} ${message}${onexception:${newline}${exception:format=ToString}}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="trace" />
            <logger name="*" minlevel="Debug" writeTo="file" />
        </rules>
    </nlog>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.5.7.10213" newVersion="2.5.7.10213"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    
</configuration>
